  body{
  	background: #2585ae;
  	margin: 8px;
    }

    form{
  	width: 50%;
  	margin-left: 25%;
    }

    input{
  	width: 100%;
  	margin-top: 20px;
  	height: 35px;
  	font-size: 17px;
  	padding-left: 11px;
  	background-color: #daebfb;

    }

  